<div class="wrapper">
  <owl-carousel-o dir="rtl" [options]="customOptions">
    <ng-template class="slide" carouselSlide>
      <img
        src="../../../../assets/images/home/slide1.png"
        alt="slide one"
        title="slide one"
      />
      <div class="content text-center">
        <p>مرحبا بكـــــــــــــــــــــــــــ في</p>
        <h1>الإيـــــــــــــــــوان</h1>
        <button (click)="fun()" [routerLink]="['services']" class="btn-home">
          <i class="fa-solid fa-arrow-left-long mx-2 arrpw-icon"></i>
          أستعرض مشاريعنا
        </button>
      </div>
    </ng-template>
    <ng-container *ngFor="let slide of slides">
      <ng-template class="slide" carouselSlide [id]="slide.id">
        <img [src]="slide.image" [alt]="slide.id" [title]="slide.id" />
        <div class="content text-end">
          <h5>{{ slide.headTitle }}</h5>
          <h3 class="my-3">{{ slide.title }}</h3>
          <p>{{ slide.description }}</p>
          <button (click)="fun()" [routerLink]="['services']" class="btn-home">
            <i class="fa-solid fa-arrow-left-long mx-2 arrpw-icon"></i>
            أستعرض مشاريعنا
          </button>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

